# Recap

In [1]:
my_var = 42

In [2]:
my_var

42

In [3]:
my_string = "this is a string"

In [4]:
5 > 4

True

In [5]:
53 / 11

4.818181818181818

In [15]:
"The number is {0:.1f}".format(53.213492)

'The number is 53.2'

In [6]:
my_list = ['foo', 42, True]

In [16]:
my_list.append([1,2,3])

In [17]:
my_list

['foo', 42, True, [1, 2, 3]]

In [18]:
my_list[2]

True

In [19]:
len(my_list)

4

In [21]:
my_list[4]

IndexError: list index out of range

In [22]:
my_list[-2]

True

In [23]:
for element in my_list:
    print(element)

foo
42
True
[1, 2, 3]

In [26]:
if 4 < 3:
    print("It's true.")
else:
    print("It's false.")

It's false.

In [27]:
with open('data/trends.csv') as csv_file:
    for line in csv_file:
        print(line)

Week,machine learning,big data,data science

2011-12-04,18,14,9

2011-12-11,17,13,9

2011-12-18,15,13,6

2011-12-25,12,11,5

2012-01-01,13,15,8

2012-01-08,16,17,10

2012-01-15,14,17,8

2012-01-22,14,17,10

2012-01-29,16,18,9

2012-02-05,16,19,9

2012-02-12,17,22,9

2012-02-19,17,21,8

2012-02-26,17,21,9

2012-03-04,16,22,9

2012-03-11,17,22,7

2012-03-18,16,22,8

2012-03-25,16,24,8

2012-04-01,16,23,8

2012-04-08,15,24,7

2012-04-15,17,25,9

2012-04-22,18,27,8

2012-04-29,18,27,7

2012-05-06,17,26,8

2012-05-13,16,25,8

2012-05-20,16,26,7

2012-05-27,15,26,7

2012-06-03,14,27,6

2012-06-10,15,28,8

2012-06-17,14,27,7

2012-06-24,16,26,7

2012-07-01,14,23,7

2012-07-08,15,27,6

2012-07-15,13,26,7

2012-07-22,14,28,6

2012-07-29,15,24,6

2012-08-05,15,28,7

2012-08-12,15,27,8

2012-08-19,16,30,9

2012-08-26,16,30,12

2012-09-02,18,29,12

2012-09-09,18,34,13

2012-09-16,18,35,13

2012-09-23,19,38,11

2012-09-30,17,36,10

2012-10-07,18,37,10

2012-10-14,20,38,10

2012-10-21,19,41,9

2012-10-28,18,41,8

2012-11-04,18,40,10

2012-11-11,17,41,10

2012-11-18,16,37,9

2012-11-25,17,41,10

2012-12-02,17,43,10

2012-12-09,18,42,11

2012-12-16,16,36,8

2012-12-23,13,24,5

2012-12-30,14,31,8

2013-01-06,17,42,10

2013-01-13,17,42,11

2013-01-20,17,42,10

2013-01-27,19,44,12

2013-02-03,17,45,11

2013-02-10,17,45,11

2013-02-17,17,47,9

2013-02-24,19,50,11

2013-03-03,19,51,10

2013-03-10,18,54,10

2013-03-17,17,54,9

2013-03-24,18,54,10

2013-03-31,17,56,10

2013-04-07,19,53,12

2013-04-14,17,53,12

2013-04-21,21,58,11

2013-04-28,19,54,12

2013-05-05,19,53,12

2013-05-12,19,61,11

2013-05-19,19,53,11

2013-05-26,17,55,10

2013-06-02,17,59,11

2013-06-09,17,58,10

2013-06-16,17,56,11

2013-06-23,17,57,10

2013-06-30,17,51,9

2013-07-07,17,55,10

2013-07-14,17,55,10

2013-07-21,17,54,9

2013-07-28,17,54,10

2013-08-04,16,55,10

2013-08-11,16,51,10

2013-08-18,17,59,12

2013-08-25,18,57,16

2013-09-01,18,59,16

2013-09-08,19,61,16

2013-09-15,19,61,15

2013-09-22,20,65,15

2013-09-29,21,64,13

2013-10-06,22,65,13

2013-10-13,23,65,13

2013-10-20,22,67,14

2013-10-27,23,65,14

2013-11-03,22,65,14

2013-11-10,22,68,14

2013-11-17,23,66,15

2013-11-24,22,62,12

2013-12-01,23,65,15

2013-12-08,21,62,14

2013-12-15,20,58,13

2013-12-22,17,44,9

2013-12-29,17,48,10

2014-01-05,22,65,14

2014-01-12,23,67,16

2014-01-19,22,70,16

2014-01-26,23,73,17

2014-02-02,22,70,15

2014-02-09,25,71,16

2014-02-16,24,74,16

2014-02-23,23,76,16

2014-03-02,25,73,17

2014-03-09,24,77,15

2014-03-16,24,77,16

2014-03-23,23,80,15

2014-03-30,26,77,16

2014-04-06,26,76,18

2014-04-13,25,72,15

2014-04-20,24,73,16

2014-04-27,24,71,17

2014-05-04,24,79,18

2014-05-11,24,72,16

2014-05-18,23,78,15

2014-05-25,22,70,15

2014-06-01,23,77,16

2014-06-08,23,75,16

2014-06-15,23,76,15

2014-06-22,23,74,16

2014-06-29,22,73,15

2014-07-06,24,75,15

2014-07-13,25,80,16

2014-07-20,25,79,16

2014-07-27,23,77,14

2014-08-03,24,78,16

2014-08-10,24,74,21

2014-08-17,25,80,21

2014-08-24,25,75,23

2014-08-31,25,77,23

2014-09-07,25,81,24

2014-09-14,28,92,23

2014-09-21,28,89,21

2014-09-28,27,87,21

2014-10-05,29,89,21

2014-10-12,28,86,20

2014-10-19,28,83,21

2014-10-26,29,89,22

2014-11-02,29,88,21

2014-11-09,29,89,22

2014-11-16,31,89,22

2014-11-23,26,81,18

2014-11-30,29,86,22

2014-12-07,31,82,21

2014-12-14,29,81,19

2014-12-21,22,58,14

2014-12-28,21,56,15

2015-01-04,29,78,23

2015-01-11,31,82,24

2015-01-18,30,86,23

2015-01-25,29,87,25

2015-02-01,32,87,25

2015-02-08,31,86,23

2015-02-15,30,87,23

2015-02-22,32,91,23

2015-03-01,33,90,22

2015-03-08,32,96,24

2015-03-15,31,91,24

2015-03-22,32,99,23

2015-03-29,32,87,23

2015-04-05,36,87,24

2015-04-12,35,93,24

2015-04-19,33,91,23

2015-04-26,35,88,25

2015-05-03,33,87,24

2015-05-10,33,86,25

2015-05-17,33,88,23

2015-05-24,32,84,23

2015-05-31,33,85,25

2015-06-07,34,87,24

2015-06-14,33,85,24

2015-06-21,33,85,24

2015-06-28,32,80,24

2015-07-05,34,80,24

2015-07-12,34,77,25

2015-07-19,33,80,23

2015-07-26,34,76,26

2015-08-02,33,76,26

2015-08-09,32,79,27

2015-08-16,34,81,28

2015-08-23,35,83,31

2015-08-30,35,82,34

2015-09-06,37,90,33

2015-09-13,40,91,35

2015-09-20,40,90,33

2015-09-27,39,93,32

2015-10-04,41,94,31

2015-10-11,41,94,31

2015-10-18,39,87,32

2015-10-25,41,91,31

2015-11-01,42,90,33

2015-11-08,49,84,32

2015-11-15,45,91,30

2015-11-22,41,88,26

2015-11-29,43,86,31

2015-12-06,43,88,31

2015-12-13,45,85,29

2015-12-20,36,62,24

2015-12-27,32,59,24

2016-01-03,42,83,33

2016-01-10,44,87,35

2016-01-17,47,93,37

2016-01-24,49,92,37

2016-01-31,46,94,35

2016-02-07,45,95,33

2016-02-14,44,96,34

2016-02-21,48,100,34

2016-02-28,49,94,34

2016-03-06,52,97,35

2016-03-13,51,94,34

2016-03-20,51,84,32

2016-03-27,52,89,34

2016-04-03,53,92,35

2016-04-10,54,94,35

2016-04-17,54,92,35

2016-04-24,52,93,34

2016-05-01,52,87,35

2016-05-08,52,95,40

2016-05-15,55,87,36

2016-05-22,54,89,36

2016-05-29,52,90,36

2016-06-05,55,87,36

2016-06-12,54,87,36

2016-06-19,55,86,36

2016-06-26,53,88,34

2016-07-03,51,79,33

2016-07-10,51,85,35

2016-07-17,53,85,36

2016-07-24,55,88,37

2016-07-31,54,80,35

2016-08-07,54,78,36

2016-08-14,53,79,39

2016-08-21,58,86,46

2016-08-28,60,90,47

2016-09-04,57,88,45

2016-09-11,63,94,47

2016-09-18,67,96,49

2016-09-25,68,99,49

2016-10-02,67,93,46

2016-10-09,64,89,45

2016-10-16,68,95,45

2016-10-23,69,92,43

2016-10-30,66,91,46

2016-11-06,64,90,40

2016-11-13,71,97,46

2016-11-20,68,90,40

2016-11-27,71,93,46

# Dictionaries

In [28]:
my_name = {'first': 'Richard',
           'last': 'Dawkins'}

In [29]:
my_name['first']

'Richard'

In [30]:
my_name['last']

'Dawkins'

In [31]:
my_name.keys()

dict_keys(['first', 'last'])

In [32]:
my_name.values()

dict_values(['Richard', 'Dawkins'])

In [33]:
my_name.items()

dict_items([('first', 'Richard'), ('last', 'Dawkins')])

In [34]:
my_name[4] = 'foo'

In [35]:
my_name

{'first': 'Richard', 'last': 'Dawkins', 4: 'foo'}

In [36]:
my_name[False] = 42.9

In [37]:
my_name

{'first': 'Richard', 'last': 'Dawkins', 4: 'foo', False: 42.9}

In [38]:
my_name.items()

dict_items([('first', 'Richard'), ('last', 'Dawkins'), (4, 'foo'), (False, 42.9)])

In [39]:
my_name[[1,2]] = 'bar'

TypeError: unhashable type: 'list'

In [40]:
my_name[(1,2)] = 'bar'

In [44]:
my_name[(2,3)] = [1,2,3]

In [45]:
my_name

{'first': 'Richard',
 'last': 'Dawkins',
 4: 'foo',
 False: 42.9,
 (1, 2): 'bar',
 (2, 3): [1, 2, 3]}

In [47]:
my_name[(2,3)].append(12)

In [48]:
my_name[(2,3)]

[1, 2, 3, 12]

In [41]:
hash('foo')

3278408044116880573

In [42]:
hash((1,2,3))

2528502973977326415

In [43]:
hash(4)

4

## Accessing elements safely

In [49]:
my_name['middle']

KeyError: 'middle'

In [51]:
my_name.get('middle') == None

True

In [52]:
my_name.get('middle', 'N/A')

'N/A'

In [53]:
my_name.get('first', 'N/A')

'Richard'

In [55]:
'Richard' in my_name.values()

True

In [58]:
list(my_name.keys())[list(my_name.values()).index('Richard')]

'first'

In [60]:
list(my_name.values()).index('Richard')

0

In [61]:
my_name['first'] = 'Alex'

In [62]:
my_name

{'first': 'Alex',
 'last': 'Dawkins',
 4: 'foo',
 False: 42.9,
 (1, 2): 'bar',
 (2, 3): [1, 2, 3, 12]}

# Sets

In [63]:
my_set = {1,2,3,'foo', 'bar'}

In [64]:
my_set

{1, 2, 3, 'bar', 'foo'}

In [66]:
2 in my_set

True

In [67]:
my_set[5]

TypeError: 'set' object does not support indexing

In [68]:
for i in my_set:
    print(i)

1
2
3
bar
foo

In [69]:
my_set.add(42)

In [70]:
my_set

{1, 2, 3, 42, 'bar', 'foo'}

# Objects

In [71]:
class Person(object):
    first_name = "First"
    last_name = "Last"

In [72]:
me = Person()

In [73]:
me

In [74]:
me.first_name

'First'

In [75]:
me.last_name

'Last'

In [76]:
you = Person()

In [77]:
you.first_name

'First'

In [78]:
you.last_name

'Last'

## Methods

In [80]:
class Person(object):
    first_name = "First"
    last_name = "Last"
    def full_name(self):
        return self.first_name + " " + self.last_name

In [88]:
def get_full_name(self):
    return self.first_name + " " + self.last_name

In [81]:
me = Person()

In [82]:
me.full_name()

'First Last'

In [83]:
me.first_name = 'Dirk'

In [84]:
me.last_name = 'Hesse'

In [85]:
me.full_name()

'Dirk Hesse'

In [89]:
get_full_name(me)

'Dirk Hesse'

In [86]:
bowie = Person()
bowie.first_name = 'David'
bowie.last_name = 'Bowie'

In [87]:
bowie.full_name()

'David Bowie'

In [90]:
get_full_name(bowie)

'David Bowie'

In [97]:
class Person(object):
    def __init__(self, first, last):
        print('Hello from __init__')
        self.first_name = first
        self.last_name = last
    def full_name(self):
        return self.first_name + " " + self.last_name

In [99]:
jackson = Person('Michael', 'Jackson')
jackson.full_name()

Hello from __init__

'Michael Jackson'

# Why Classes?

In [103]:
class MyCounter(object):
    def __init__(self, start, increment):
        self.current = start
        self.increment = increment
    def count(self):
        self.current += self.increment
    def get(self):
        return self.current

In [104]:
cnt = MyCounter(0, 2)

In [105]:
cnt.get()

0

In [106]:
cnt.count()
cnt.count()

In [108]:
cnt.get()

4

# Generators

In [109]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [196]:
def get_two_numbers():
    yield 12
    yield 13

In [198]:
for i in get_two_numbers():
    print(i)

12
13

In [120]:
def fibonacci(current, following, n):
    for i in range(n):
        yield current
        current, following = following, current + following
        #old = current
        #current = following
        #following = following + old

In [121]:
[i**2 for i in fibonacci(1,1,10)]

[1, 1, 4, 9, 25, 64, 169, 441, 1156, 3025]

In [122]:
for i in fibonacci(1,1,10):
    print(i)

1
1
2
3
5
8
13
21
34
55

## Quiz: Fibonacci with (a) class...

In [123]:
class Fibonacci(object):
    def __init__(self, current, following):
        self.current = current
        self.following = following
    def next_number(self):
        old = self.current
        self.current = self.following
        self.following = old + self.current
        return old

In [124]:
fib = Fibonacci(1,1)

In [125]:
for i in range(10):
    print(fib.next_number())

1
1
2
3
5
8
13
21
34
55

## Sequence hacks

In [126]:
import itertools

In [134]:
list(itertools.islice(fibonacci(1,1,10), 5))

[1, 1, 2, 3, 5]

In [129]:
list(fibonacci(1,1,10))[:5]

[1, 1, 2, 3, 5]

In [130]:
list(fibonacci(1,1,10))[2:5]

[2, 3, 5]

In [137]:
list(itertools.islice(fibonacci(1,1,10), 2, None))

[2, 3, 5, 8, 13, 21, 34, 55]

In [143]:
list(itertools.combinations_with_replacement([1,2,3,4], 2))

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 3),
 (3, 4),
 (4, 4)]

In [144]:
from collections import Counter

In [146]:
'the quick brown fox jumps over the lazy dog'.split()

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [148]:
cnt = {}
for word in 'the quick brown fox jumps over the lazy dog'.split():
    cnt[word] = cnt.get(word, 0) + 1

In [149]:
cnt

{'brown': 1,
 'dog': 1,
 'fox': 1,
 'jumps': 1,
 'lazy': 1,
 'over': 1,
 'quick': 1,
 'the': 2}

In [150]:
better_cnt = Counter('the quick brown fox jumps over the lazy dog'.split())

In [152]:
better_cnt['the']

2

In [153]:
better_cnt.most_common(2)

[('the', 2), ('quick', 1)]

In [154]:
Counter([1,2,2,5,7,2,7])

Counter({1: 1, 2: 3, 5: 1, 7: 2})

In [155]:
Counter('fizzbuzz')

Counter({'b': 1, 'f': 1, 'i': 1, 'u': 1, 'z': 4})

# Decorators

In [157]:
[fibonacci, 1, 2]

[<function __main__.fibonacci>, 1, 2]

In [158]:
{fibonacci: 5}

{<function __main__.fibonacci>: 5}

In [159]:
def get_first(f, n):
    return list(f(1,1,n))

In [160]:
get_first(fibonacci, 5)

[1, 1, 2, 3, 5]

In [168]:
def process_trends_file(f, start, end):
    with open('data/trends.csv') as trends_file:
        for line in itertools.islice(trends_file, start, end):
            yield f(line)

In [170]:
list(process_trends_file(print, 1, 5))

2011-12-04,18,14,9

2011-12-11,17,13,9

2011-12-18,15,13,6

2011-12-25,12,11,5

[None, None, None, None]

In [171]:
def get_first_trend(line):
    return int(line.split(',')[1])

In [172]:
list(process_trends_file(get_first_trend, 1, 5))

[18, 17, 15, 12]

In [173]:
def listify(line):
    return line.split(',')

In [174]:
list(process_trends_file(listify, 1, 5))

[['2011-12-04', '18', '14', '9\n'],
 ['2011-12-11', '17', '13', '9\n'],
 ['2011-12-18', '15', '13', '6\n'],
 ['2011-12-25', '12', '11', '5\n']]

In [175]:
list(fibonacci(1,1,10))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [176]:
list(fibonacci(1,1,10))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [183]:
def cache(f):
    known_results = {}
    def new_f(x):
        if x not in known_results:
            print("thinking ...")
            known_results[x] = f(x)
        else:
            print("result known")
        return known_results[x]
    return new_f

In [178]:
def fib_list(n):
    return list(fibonacci(1,1,n))

In [179]:
fib_list(5)

[1, 1, 2, 3, 5]

In [184]:
cached_fib_list = cache(fib_list)

In [186]:
cached_fib_list(5)

thinking ...

[1, 1, 2, 3, 5]

In [187]:
cached_fib_list(5)

result known

[1, 1, 2, 3, 5]

In [189]:
@cache
def fl(n):
    return list(fibonacci(1,1,n))

In [190]:
fl(10)

thinking ...

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [191]:
fl(10)

result known

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

## Aside

In [193]:
my_list = [1,2,3]

In [194]:
my_list[5]

IndexError: list index out of range